<h2>Blog Posts</h2>
<% blogs.forEach(blog => {%>
<div>
  <h3><%= blog.title %></h3>
  <span>Created: <%= blog.createdAt %></span><br />
  <span>Last Updated: <%= blog.updatedAt %></span><br />
  <span><%= blog.content %></span><br />
  <span><%= blog.authorId %></span>
</div>
<% });%>
